.about {
  // font-size: 72%;
  .intro {
    width: 100%;

    figure {
      width: 35%;
     float: left;
    }
    img {
      max-width:100%;
    }
    p {
     width: 60%;
     margin-left: 5%;
     float: left;
     margin-top: 0;
    }
    .bold {
      font-weight: bold;
    }
    figcaption {
      font-size: 50%;
      margin-top: 15px;
      font-style: italic;
    }
  }

}

.about-detail {
    li {
    font-size: 75%;
      a {
        font-size: 125%;
        }
    }
}



