---
layout: default
---

<div class="about">
	<div class="intro">
		<figure>
		<img src="../img/samkap.jpg" alt="Sam">
		<figcaption>Photo by Wesley Werhoeve, for <a href="http://www.oneofmany.co">One of Many</a></figcaption>
		</figure>
		<p>Hi! I’m Sam Kapila. I’m a designer, educator, and person living in Austin, TX with two cats and a lot of coffee. I’m the Director of Instruction at <a href="http://theironyard.com">The Iron Yard</a>, an immersive code and design school with over 20 locations around the US.

		I am constantly tinkering with responsive web design, web typography, podcasting, writing, speaking about design, and cooking. I grew up on the Dutch island of <a href="http://www.curacao.com">Curaçao</a>, and have lived in India, Florida, Greece, and South Carolina. </p>
	</div>
</div>

{{content}}